<h1>
  {{person.name}}

  <img [src]="person.myPath" alt="">
</h1>

<h1>
  <input (keyup.enter)="print($event.target.value)"/>
  <button (click)="showAction()">Salida</button>
</h1>""

<app-list [name]="'Estoy pasando parametros al hijo'" (changeTitle)="modifyValue($event)"></app-list>


<app-number-one (changeNumber1)="assignValue1($event)"></app-number-one>
<app-number-two (changeNumber2)="assignValue2($event)"></app-number-two>
<h1>Summar: <button (click)="sumaryCalculator()">Sumar</button></h1>
<h1>Resultado: {{calculatorResult}}</h1>
